# -*- coding: utf-8 -*-

# TODO: We may want a better way of handling config

# General config

# The environment we are in. 
# Valid options:
# PROD - Production level
# DEV - Development level (no security enforced)
# DEV_SECURITY - Development level with security
ENVIRONMNET = 'DEV_SECURITY'

ADDITIONAL_DEBUGGING_SUPPORT = False

MLWSECURITYSERVICE_URL = 'someurl.azurewebsites.net'
MLWSECURITYSERVICE_PORT = 443

INTERNAL_ERROR_MESSAGE = 'Something went wrong. Please try again later.'

# Sentiment config
SENTIMENT_BAG_OF_WORDS_SIZE = 500
SENTIMENT_SINGLE_THREAD_CUTOFF = 1000
MAX_DATASET_SIZE = 50000
TRAINING_SET_SIZE = 0.75

# Category config
KMAX = 10
CATEGORY_BAG_OF_WORDS_SIZE = 2000

# Stock config
STOCK_SINGLE_THREAD_CUTOFF = 1000

# CORS config
ALLOWED_ORIGINS = ['http://localhost:8080', 'https://localhost:8080']